<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- https://getbootstrap.com/docs/5.1/getting-started/introduction/ -->
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <!--<link href="/static/favicon.ico" rel="icon">-->

        <link href="/static/styles.css" rel="stylesheet">

        <title>Teammaker: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="blue">TEAMMAKER</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <!-- alternative to the lines above, default lines from flask docs: -->
        <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
        {% endwith %} -->

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
            Resistor 2021
        </footer>


        <!-- Optional JavaScript -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        

        <!-- lobbies names -->
        <!-- MOVE TO LOBBIES (EITHER SCRIPT WORKS ON OTHER PAGES) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function lobbies_names() {
                fetch("/lobbies_names")
                .then(response => response.json())
                .then(data => {
                    // console.log(data)
                    //console.log(data.lobbies_names)
                    for (el of data.lobbies_names){
                        // console.log(el)
                        var tag = document.createElement("p");
                        tag.setAttribute("id", el);
                        var lobby_name = document.createTextNode(el);
                        tag.appendChild(lobby_name);
                        var lobby_name_element = document.getElementById("lobbies_names");
                        lobby_name_element.appendChild(tag);
                        // var foo = document.createElement("ul");
                        // var bar = document.createElement("li");
                        // var qqq = document.createTextNode("zzz");
                        // foo.appendChild(bar);
                        // bar.appendChild(qqq)
                        // element.appendChild(foo);
                    }

                })
            }

            function lobbies_users(){
                fetch("/lobbies_users")
                .then(response => response.json())
                .then(data => {
                    // console.log(data)
                    // console.log(data.lobbies_users)
                    // console.log(data.lobbies_users.Overwatch)

                    $.each(data.lobbies_users, function(key, value) {
                        // console.log(key)
                        // console.log(value)

                        id_without_spaces = key.replace(/ /g, '');

                        try {
                            var list_of_players = document.getElementById(id_without_spaces + '_ul');
                            console.log(list_of_players)
                            list_of_players.remove()
                            // console.log(list_of_players.innerHTML)
                        }
                        catch(e){
                            console.log("error")
                        }

                        // lobby_name_element is the name of the lobby, <p>Overwatch</p>
                        // .insertAdjacentHTML creates <ul> and <li> with usernames after <p>
                        var lobby_name_element = document.getElementById(key);
                        lobby_name_element.insertAdjacentHTML('afterend', `<ul id=${id_without_spaces + '_ul'}><li>${value}</li></ul>`);  // pay attention to `` it is grave accent, not quotes

                    });
                })
                    
                    // var tag_ul = document.createElement("ul");
                    // var tag_li = document.createElement("li");
                    // var li_value = document.createTextNode("zzz");
                    // var element = document.getElementById("???");
                    // tag_ul.appendChild(tag_li);
                    // tag_li.appendChild(li_value)
                    // element.appendChild(tag_ul);    
            }



            document.addEventListener("DOMContentLoaded", lobbies_names); // порядок вызова lobbie_names и lobbies_users не перепутать
            document.addEventListener("DOMContentLoaded", lobbies_users);
            setInterval(lobbies_users, 1000);
        </script>
    
    </body>

</html>

<!--As far as I understand, "|" in {{ get_flashed_messages() | join(" ") }} act kinda as a pipeline in command line https://en.wikipedia.org/wiki/Pipeline_(Unix)-->
<!--It takes the left part and combines it with the right.-->
<!--Or it's filter from Jinja, although I don't understand what it actually means-->
