{% extends "layout.html" %}

{% block title %}
    Lobbies
{% endblock title %}

{% block main%}
            
    <!-- TODO: maybe rewrite code to execute it clientside?
    js should take dict/list/cursor object [(game1, users), (game2, users)...] from server and manipulate it -->
    
    <!-- shows all users in all games/lobbies -->
    {% for lobby in users_in_lobbies_dict %}
        <!-- lobby's name -->
        <p>{{ lobby }}</p>
        <!-- list of players -->
        <ul>
            <li>{{ users_in_lobbies_dict[lobby] }}</li>
        </ul>
        <!-- join the lobby button -->
        <form action="/lobbies" method="POST">
            <input type="hidden" id="game_id" name="game_id" value="1"> <!-- value=1 IS JUST FOR TESTING-->
            <button class="btn-primary" type="submit">Join lobby</button>
        </form>
    {% endfor %}

    


{% endblock main %}