{% extends "layout.html" %}

{% block title %}
    Lobbies
{% endblock title %}

{% block main%}
    <!-- {% for row in usernames %}
        <ul>
            <li>{{ username }}</li>
        </ul>
    {% endfor %} -->
    {% for foo in lobby_id %}
        <ul>
            <li>{{ foo }}</li>
        </ul>
    {% endfor %}
        dick (can't show the beneath part if the above part exists in code)
    {% for foo in lobby_users %}
        <ul>
            <li>lobby_users {{ foo }}</li>
        </ul>
    {% endfor %}
    

{% endblock main %}